<%= form_with(model: credential, local: true) do |form| %>
  <% if credential.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(credential.errors.count, "error") %> prohibited this credential from being saved:</h2>

      <ul>
      <% credential.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, id: :credential_username %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, id: :credential_password %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :credential_type %>
  </div>

  <div class="field">
    <%= form.label :hostName %>
    <%= form.text_field :hostName, id: :credential_hostName %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
