<p id="notice"><%= notice %></p>

<h1>Credentials</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Password</th>
      <th>Type</th>
      <th>Hostname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @credentials.each do |credential| %>
      <tr>
        <td><%= credential.username %></td>
        <td><%= credential.password %></td>
        <td><%= credential.type %></td>
        <td><%= credential.hostName %></td>
        <td><%= link_to 'Show', credential %></td>
        <td><%= link_to 'Edit', edit_credential_path(credential) %></td>
        <td><%= link_to 'Destroy', credential, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Credential', new_credential_path %>
