<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @credential.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @credential.password %>
</p>

<p>
  <strong>Type:</strong>
  <%= @credential.type %>
</p>

<p>
  <strong>Hostname:</strong>
  <%= @credential.hostName %>
</p>

<%= link_to 'Edit', edit_credential_path(@credential) %> |
<%= link_to 'Back', credentials_path %>
