<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @template.Name %>
</p>

<p>
  <strong>Project:</strong>
  <%= @template.Project %>
</p>

<p>
  <strong>Suit:</strong>
  <%= @template.Suit %>
</p>

<p>
  <strong>Section:</strong>
  <%= @template.Section %>
</p>

<p>
  <strong>Browser:</strong>
  <%= @template.Browser %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @template.Profile %>
</p>

<p>
  <strong>Job1111111:</strong>
  <%= @template.Job %>
</p>

<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>
