<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'main', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'bootstrap.min', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'mdb.min', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<header id="header" class="alt">
  <div class="inner">
    <h1>Welcome To QA Automation</h1>
    <p style="color: #EF6480">We will send you registration link shortly</p>
  </div>
</header>
<!--<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
</nav>
<div id="carousel-example-1z" class="carousel slide carousel-fade">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view">
        <video class="" autoplay loop>
          <source src="https://mdbootstrap.com/img/video/animation-intro.mp4" type="video/mp4" />
        </video>
        <div class="mask rgba-black-light d-flex justify-content-center align-items-start">
          <div class="text-center white-text mx-5 wow fadeIn">
            <header id="header" class="alt">
              <div class="inner">
                <h1>Welcome To QA Automation </h1>
                <p>We will send you registration link shortly.</p>
              </div>
            </header>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
</body>
</html>